/* Style the forgot password container */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent overlay */
    font-family: 'Arial', sans-serif;
    
    position: relative;
}

.forgot-password-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/forgot.jpg'); /* Ensure this path is correct */
    background-size: cover;
    
    background-position: center;
    opacity: 0.5; /* Adjust the opacity as needed to darken the image */
    z-index: 1;
}

/* Style the forgot password form */
.forgot-password-form {
    position: relative;
    z-index: 2;
    background: rgba(192, 195, 211, 0.9); /* Semi-transparent form background */
    padding: 2rem;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 370px;
    box-sizing: border-box;
    min-height: 500px; /* Increased height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.forgot-password-title {
    margin: 0 0 1.5rem;
    font-size: 35px;
    text-align: center;
    color: #3b3636;
}

/* Style labels */
.forgot-password-label {
    display: block;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #181921;
}

/* Style input fields */
.forgot-password-input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #a09797;
    border-radius: 11px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style the forgot password button */
.forgot-password-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #1e5fa4;
    color: #f3e9e9;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.forgot-password-button:hover {
    background-color: rgb(42, 137, 85);
}