/* Style the body or login container */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
/* Style the login container */
.login-container {
    display: flex;
    background-image: url('../assets/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(24, 23, 23, 0.5); /* Optional: Semi-transparent overlay */
}
  
/* Style the login form */
.login-form {
    background-color: rgba(172, 204, 232, 0.411);
    
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 350px; /* Increased height to accommodate the image */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}

/* Style the login image */
.login-image {
    width: 21%;
    border-radius: px;
    margin-bottom: 1rem; /* Spacing between image and title */
}
  
/* Style the login title */
.login-title {
    margin: 0 0 1rem;
    font-size: 35px;
    text-align: center;
    color: #292727;
}
  
/* Style the input group to provide spacing between label and input */
.input-group {
    width: 1n  00%;
    margin-bottom: 1.5rem; /* Spacing between input fields */
    /* margin-left: -75px; */
}

/* Style labels */
.login-label {
    display: block;
    margin-bottom: 0.5rem; /* Space between label and input field */
    color: #100c0c;
    font-weight: bold;
}
  
/* Style input fields */
.login-input {
    width: 230px;
    padding: 0.7rem;
    border: 2px solid #7b7171;
    border-radius: 8px;
}
  
/* Style the login links */
.login-links {
    display: flex;
    justify-content: center; /* Center the link */
    margin: 1rem 0; /* Adjusted margin for spacing */
    width: 100%;
}
  
/* Style individual login links */
.login-link {
    color: #fdfde4;
    text-decoration: none;
    font-size: 17px; /* Increased font size */
    margin: 0 10px; /* Added margin for better spacing */
}
  
.login-link:hover {
    text-decoration: underline;
}
  
/* Style the login button */
.login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #08326c;
    color: rgb(255, 255, 255);
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.login-button:hover {
    background-color: #064385;
}